* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
}